body {
  /* background: black; */
  /* width: 100%; */
  /* height: 100vh; */
  background-image: url("./assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  /* width: 1385px;
  height: 96px;
  position: absolute;
  left: 20px;
  top: 40px; */
}
.navs {
  color: white;
  display: flex;
  justify-content: space-between;
}

.nav-items {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
  width: 80%;
}
.nav__links {
  display: flex;
  padding-right: 8rem;
  justify-content: flex-end;
}

.nav__link {
  padding: 20px;
  text-decoration: none;
  list-style: none;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}
.logo {
  width: 20%;
  margin-left: 20px;
  padding-top: 15px;
}

.first__homediv {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin-top: 12rem;
}
.text__section {
  width: 50%;
  height: 20px;
}
.oval__section {
  width: 50%;
}
.so__text {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  letter-spacing: 4.725px;
  color: #d0d6f9;
}
.space {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  margin: 0;
  padding: 0;

  color: #ffffff;
}
.text {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */

  color: #d0d6f9;
}
